{% extends 'base.html' %}
{% block title %}Blog | Programming{% endblock %} {% block content %}
<div class="blg-main-container">
  <!-- Python Section -->
  <div class="blg-section">
    <img
      src="/static/images/pgImages/python.png"
      alt="Python blog image"
      class="blog-image"
    />
    <div class="blg-content">
      <h1 class="text-3xl font-bold mb-4">Python Programming</h1>
      <p class="mb-4 text-justify">
        Python is a high-level, interpreted programming language known for its
        simplicity and readability. It supports multiple programming paradigms,
        including procedural, object-oriented, and functional programming.
      </p>
      <p class="mb-4 text-justify">Welcome to the world of Python programming!</p>
      <a href="https://www.python.org/" target="_blank" class="read-more-link"
        >More Read</a
      >
    </div>
  </div>

  <!-- Java Section -->
  <div class="blg-section">
    <img
      src="/static/images/pgImages/java.png"
      alt="Java blog image"
      class="blog-image"
    />
    <div class="blg-content">
      <h1 class="text-3xl font-bold mb-4">Java Programming</h1>
      <p class="mb-4 text-justify">
        Java is a class-based, object-oriented programming language designed to
        have as few implementation dependencies as possible. It is a
        general-purpose programming language intended to let application
        developers write once, run anywhere (WORA), meaning that compiled Java
        code can run on all platforms that support Java without the need for
        recompilation.
      </p>
      <p class="mb-4 text-justify">Dive into the world of Java programming!</p>
      <a href="https://www.java.com/" target="_blank" class="read-more-link"
        >More Read</a
      >
    </div>
  </div>

  <!-- JavaScript Section -->
  <div class="blg-section">
    <img
      src="/static/images/pgImages/javascript.png"
      alt="JavaScript blog image"
      class="blog-image"
    />
    <div class="blg-content">
      <h1 class="text-3xl font-bold mb-4">JavaScript Programming</h1>
      <p class="mb-4 text-justify">
        JavaScript is a high-level, interpreted programming language that
        conforms to the ECMAScript specification. It is a language that is also
        characterized as dynamic, weakly typed, prototype-based and
        multi-paradigm. Among the host environments for JavaScript, web browsers
        are the most widely known.
      </p>
      <p class="mb-4 text-justify">Explore the power of JavaScript!</p>
      <a
        href="https://developer.mozilla.org/en-US/docs/Web/JavaScript"
        target="_blank"
        class="read-more-link"
        >More Read</a
      >
    </div>
  </div>

  <!-- C++ Section -->
  <div class="blg-section">
    <img
      src="/static/images/pgImages/c-plus.png"
      alt="C++ blog image"
      class="blog-image"
    />
    <div class="blg-content">
      <h1 class="text-3xl font-bold mb-4">C++ Programming</h1>
      <p class="mb-4 text-justify">
        C++ is a general-purpose programming language created as an extension of
        the C programming language, or "C with Classes". It has imperative,
        object-oriented and generic programming features, while also providing
        facilities for low-level memory manipulation.
      </p>
      <p class="mb-4 text-justify">Discover the fundamentals of C++ programming!</p>
      <a
        href="https://www.cplusplus.com/"
        target="_blank"
        class="read-more-link"
        >More Read</a
      >
    </div>
  </div>

  <!-- C# Section -->
  <div class="blg-section">
    <img
      src="/static/images/pgImages/c-sharp.png"
      alt="C# blog image"
      class="blog-image"
    />
    <div class="blg-content">
      <h1 class="text-3xl font-bold mb-4">C# Programming</h1>
      <p class="mb-4  text-justify">
        C# is a modern, object-oriented programming language that is simple,
        powerful, type-safe, and secure. It is part of the .NET framework and is
        used to develop a wide range of applications, from web and mobile apps
        to desktop and game development.
      </p>
      <p class="mb-4 text-justify">Explore the versatility of C#!</p>
      <a
        href="https://docs.microsoft.com/en-us/dotnet/csharp/"
        target="_blank"
        class="read-more-link"
        >More Read</a
      >
    </div>
  </div>

  <!-- Ruby Section -->
  <div class="blg-section">
    <img
      src="/static/images/pgImages/ruby.png"
      alt="Ruby blog image"
      class="blog-image"
    />
    <div class="blg-content">
      <h1 class="text-3xl font-bold mb-4">Ruby Programming</h1>
      <p class="mb-4 text-justify">
        Ruby is a dynamic, open source programming language with a focus on
        simplicity and productivity. It has an elegant syntax that is natural to
        read and easy to write. Ruby is often used for web development and is
        the language behind the Ruby on Rails framework.
      </p>
      <p class="mb-4 text-justify">Dive into the elegance of Ruby!</p>
      <a
        href="https://www.ruby-lang.org/en/"
        target="_blank"
        class="read-more-link"
        >More Read</a
      >
    </div>
  </div>

  <!-- F# Section -->
  <div class="blg-section">
    <img
      src="/static/images/pgImages/f-sharp.png"
      alt="F# blog image"
      class="blog-image"
    />
    <div class="blg-content">
      <h1 class="text-3xl font-bold mb-4">F# Programming</h1>
      <p class="mb-4 text-justify">
        F# is a strongly typed, multi-paradigm programming language that
        encompasses functional, imperative, and object-oriented programming
        methods. It is part of the .NET framework and is designed to be easy to
        use, powerful, and flexible.
      </p>
      <p class="mb-4 text-justify">Discover the functional power of F#!</p>
      <a href="https://fsharp.org/" target="_blank" class="read-more-link"
        >More Read</a
      >
    </div>
  </div>

  <!-- Kotlin Section -->
  <div class="blg-section">
    <img
      src="/static/images/pgImages/kotlin.png"
      alt="Kotlin blog image"
      class="blog-image"
    />
    <div class="blg-content">
      <h1 class="text-3xl font-bold mb-4">Kotlin Programming</h1>
      <p class="mb-4 text-justify">
        Kotlin is a statically typed programming language that runs on the Java
        Virtual Machine (JVM) and can be used to develop all types of
        applications, from server-side to Android apps. It is designed to be
        concise, safe, and interoperable with Java.
      </p>
      <p class="mb-4 text-justify">Explore the modern language for Android development!</p>
      <a href="https://kotlinlang.org/" target="_blank" class="read-more-link"
        >More Read</a
      >
    </div>
  </div>

  <!-- Go Section -->
  <div class="blg-section">
    <img
      src="/static/images/pgImages/go.png"
      alt="Go blog image"
      class="blog-image"
    />
    <div class="blg-content">
      <h1 class="text-3xl font-bold mb-4">Go Programming</h1>
      <p class="mb-4 text-justify">
        Go, also known as Golang, is a statically typed, compiled programming
        language designed at Google. It is known for its simplicity, efficiency,
        and strong support for concurrent programming. Go is often used for
        system-level programming, web servers, and big data applications.
      </p>
      <p class="mb-4 text-justify">Learn about the efficient and simple language!</p>
      <a href="https://golang.org/" target="_blank" class="read-more-link"
        >More Read</a
      >
    </div>
  </div>

  <!-- Swift Section -->
  <div class="blg-section">
    <img
      src="/static/images/pgImages/swift.png"
      alt="Swift blog image"
      class="blog-image"
    />
    <div class="blg-content">
      <h1 class="text-3xl font-bold mb-4">Swift Programming</h1>
      <p class="mb-4 text-justify">
        Swift is a powerful and intuitive programming language for macOS, iOS,
        watchOS, and tvOS. It is designed to give developers more freedom than
        ever. Swift is easy to use and open source, so anyone with an idea can
        create something incredible.
      </p>
      <p class="mb-4 text-justify">
        Discover the powerful language for iOS and macOS development!
      </p>
      <a href="https://swift.org/" target="_blank" class="read-more-link"
        >More Read</a
      >
    </div>
  </div>
</div>
{% endblock %}
