{% extends "base.html" %}
{% block title %}
Login
{% endblock title %}

{% block content %}


<div class="form-container">
    <p class="title text-white">Login</p>
    <form class="form" method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="input-group">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" placeholder="Your Name">
        </div>
        <div class="input-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="Password?">
        </div>
        <button class="sign">Sign in</button>
    </form>
    <p class="signup">Don't have an account?
        <a rel="noopener noreferrer" href="{% url 'signup' %}" class="">Sign up</a>
    </p>
</div>
{% endblock content %}